APP_ENV=production
APP_DEBUG=false
APP_KEY=
APP_URL=
DB_CONNECTION=mysql
DB_HOST=
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
MYSQL_ATTR_SSL_CA=/etc/secrets/aiven-ca.pem
SESSION_DRIVER=cookie
SESSION_SECURE_COOKIE=true
CACHE_STORE=database
QUEUE_CONNECTION=sync
FILESYSTEM_DISK=public
LOG_CHANNEL=stderr
PHP_CATCHALL=1
