APP_DEBUG=true
APP_ENV=production
APP_KEY=<your-app-key>
APP_URL=https://online-job-application-system-group-d.onrender.com/
AUDIT_LOG_GET_REQUESTS=true
AUDIT_QUEUE_ENABLED=false
CACHE_STORE=file
CLOUDINARY_URL=<your-cloudinary-url>
DATABASE_URL=<your-aiven-database-url>
DB_CONNECTION=mysql
DB_DATABASE=job_application_system
DB_HOST=mysql-d65ea95-kayeerasoftware-financial-system-software.i.aivencloud.com
DB_PASSWORD=<your-aiven-password>
DB_PORT=11552
DB_USERNAME=avnadmin
DB_QUEUE_TABLE=queue_jobs
FILESYSTEM_DISK=uploads
LOG_CHANNEL=stderr
LOG_LEVEL=error
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=kayeerasoftware@gmail.com
MYSQL_ATTR_SSL_CA=ca-certificates.crt
QUEUE_CONNECTION=database
SESSION_DRIVER=cookie
SESSION_EXPIRE_ON_CLOSE=false
SESSION_LIFETIME=43200
SESSION_SAME_SITE=lax
SESSION_SECURE_COOKIE=true
