APP_ENV=production
APP_DEBUG=false
APP_KEY=
APP_URL=
DB_CONNECTION=pgsql
DATABASE_URL=
SESSION_DRIVER=database
SESSION_SECURE_COOKIE=true
CACHE_STORE=database
QUEUE_CONNECTION=database
FILESYSTEM_DISK=public
LOG_CHANNEL=stderr
